html {
    font-family: century-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    background-color: hsl(224deg 32% 9%);
}

h2 {
    font-family: century-gothic;
    color: white;
    font-weight: 100;
    margin: 0.5rem 0 0.5rem 1rem;
}

nav {
    background-color: hsl(223deg 36% 14%);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav i {
    font-size: 1.8rem;
    color: hsl(225deg 21% 46%);
    margin: 0.5rem;
}

.fa-clapperboard {
    color: hsl(359deg 94% 63%);
}

i:hover {
    color: hsl(240deg 14% 99%);
}

.fa-clapperboard {
    margin-right: auto;
}

.fa-user {
    margin-left: auto;
}

.search-bar {
    width: 100%;
    height: 3rem;
    font-family: century-gothic;
    font-size: 1.4rem;
    background: hsl(224deg 32% 9%);
    border: 0;
    padding: 0;
}

.search-area {
    position: relative;
    display: flex;
    align-items: center;
}

.search-area .fa-magnifying-glass {
    color: hsl(225deg 21% 46%);
    padding: 0 1rem;
}

.search-area i {
    font-size: 1.4rem;
}

.trending-movies {
    /*width: 30rem;*/
    overflow-x: auto;
    white-space: nowrap;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    gap: 1rem;
    margin: 0.5rem 0;
}

li {
    position: relative;
}

img {
    max-height: 150px;
    max-width: 250px;
    width: auto;
    border-radius: 30px;
}

.transparent-background-save {
    height: 2rem;
    width: 2rem;
    background-color: hsl(0deg 0% 0% / 40%);
    position: absolute;
    right: 0.8rem;
    top: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.fa-regular {
    /*position: absolute;
    right: 1rem;
    top: 1rem;*/
    color: white;
}

.details {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

span {
    font-family: century-gothic;
    color: rgba(255, 255, 255, 0.8);
    display: inline;
}

h3 {
    color: white;
    margin: 0;
    font-weight: 500;
    font-family: century-gothic;
}

.transparent-background-rate {
    height: 2rem;
    width: 3rem;
    background-color: hsl(0deg 0% 0% / 40%);
    position: absolute;
    right: 0.8rem;
    bottom: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
}

.transparent-background-rate p {
    color: white;
    font-family: century-gothic;
}

.container {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.container::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.recommended {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content;
    gap: 1rem;
    margin: 0.8rem;
}

.recommended img {
    height: auto;
    width: 100%;
    max-height: auto;
    border-radius: 0.5rem;
}

.recommended-movies {
    position: relative;
}

.recommended-details {
    font-size: 0.8rem;
    line-height: 1rem;
    margin-top: 0.2rem;
}

.recommended .transparent-background-save {
    right: 0.3rem;
    top: 0.3rem;
}

.details span {
    font-size: 0.8rem;
}

.recommended-details span {
    font-size: 0.7rem;
    color: rgba(255, 255, 255, 0.5);
}

@media screen and (min-width: 992px) {
    body {
        background-color: blue;
    }
}